.fab-bottom-right {
  position: fixed!important;
  right: 16px;
  bottom: 16px;
  z-index: 100;
}

.list-container {
  height: 100%;
  width: 100%;
}

.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
}

.lg {
  height: 60vh;
}
