<mat-toolbar color="primary" class="toolbar-button-row ">
  <span>Splitspends</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="logout()">
    <mat-icon>directions_run</mat-icon>Logout
  </button>
</mat-toolbar>
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="home-mat-header-card">
    Profile card {{username}}
  </mat-card>
  <mat-card class="home-mat-detail-card">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks" #rla="routerLinkActive"
        [routerLink]="link.path" routerLinkActive>
        {{link.label}}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card>
</div>
